# markdown
## markdown
### markdown
#### markdown
##### markdown

# insert site address
[site](http://localhost:8888/notebooks/Desktop/kiran%20python/Untitled.ipynb?kernel_name=python3)

# insert image
![text](https://www.hakaimagazine.com/wp-content/uploads/header-baltic-sea-radiation.jpg)

# PYTHON BASICS

# creating ordered list
    1 agent
    2 sai
   - srinivasa
      - athreya

# creating unordered list
- sky is blue
- i am a student

# bold and italic text
   **triple**
*single*

In [1]:
print("Hello World!")

Hello World!

In [2]:
x = 20
y = 40
y-x

20

# rules for variable
- name should begin with a character
- no special characters allowed except underscore(_)

In [5]:
name ="kiran"
age = 20
print("my name is:",name,"age is:",age)

my name is: kiran age is: 20

In [7]:
name = input("enter name:")
age = int(input("enter age:"))
print("my name is:",name,"age is:",age)

enter name:kiran
enter age:20
my name is: kiran age is: 20

In [11]:
x = int(input("enter x value:"))
y = int(input("enter y value:"))
print("x+y is:",x+y)
print("x-y is:",x-y)
print("x*y is:",x*y)
print("x/y is:",x/y)
print("x%y is:",x%y)

enter x value:143276
enter y value:154232
x+y is: 297508
x-y is: -10956
x*y is: 22097744032
x/y is: 0.9289641578920068
x%y is: 143276

# fundamental datatypes
- int
- float
- complex
- boolean
- string

In [22]:
# int
# float
x = 10
y = 12.22
z = 5+6j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [20]:
# complex
c = complex(2,5)
print(c)

(2+5j)

In [15]:
c1 = 3+5j
c2 = 5+2j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(8+7j)
(-2+3j)
(5+31j)

In [18]:
# boolean
x = -23456789
y = -12345678
x < y

True

In [19]:
# string
s1 = "abc"
s2 = "def"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [23]:
i = 100
s1 = str(i)
f1 = float(i)
print(type(i),type(s1),type(f1))

<class 'int'> <class 'str'> <class 'float'>

In [25]:
# length
a = "abc"
print(len(a))

3

In [26]:
a = 1234
print(len(str(a)))

4

In [28]:
a=123423456778
b=2345234
print(len(str(a))-len(str(b)))

5

In [30]:
n1=100 #single variable Assignment
a=b=c=20 # multiple variable assignment of same value
a1,b1,c1=123,234,456
print(n1,(a,b,c),(a1,b1,c1))

100 (20, 20, 20) (123, 234, 456)

# precedence of arithmetic operators
. parenthesis
. power
. multiplication
. addition

In [56]:
x=1+2**3/(4+5)
print(x)

1.8888888888888888

In [57]:
x=1+2**3/(4*5)
print(x)

1.4

# operators
## Arithmetic Operators
- +
- -
- *
- /
- %
- **
- //

In [55]:
x =2
y =3
print(x//y,x+y,x-y,x*y,x/y,x%y,x**y)

0 5 -1 6 0.6666666666666666 2 8

# Relational Operators
- ==
- !=
- [>]
- [<]
- [>=]
- [<=]

In [54]:
x=38
y=15
print(x==y,x!=y,x>y,x<y,x>=y,x<=y)

False True True False True False

# Logical Operators
- AND
- OR
- NOT

In [51]:
i=100
a1=(i>15) and (i<23)
a2=(i>987654321) or (i<1234321357586)
a3=(i>987654321) or (i<1234321357586)
print(a3)
print(a2)
print(a1)
print(not i)

True
True
False
False

# Membership Operator
- IN
- NOT IN

In [53]:
s1="abc"
print('a' in s1)
print('b' not in s1)

True
False

# Control Flow Statements
- conditional
- looping
-- if-else stateent
    -syntax
  ##### if condition:
  > statements<br>
  ##### else:
  > statements

# check given number is even or not

In [62]:
a=int(input("enter a number: "))
if a%2==0:
 print("even")
else:
 print("odd")

enter a number: 45632
even

# check whether given number is perfectly multiple of 3 and 5

In [66]:
a=int(input("enter a number: "))
if a%3==0 and a%5==0:
    print("YES")
else:
     print("NO")

enter a number: 17
NO

# check whether the number is positive,negative or zero
# check input year is leap or not

In [67]:
a= int(input("enter a number"))
if a>0:
   print("positive")
elif a<0:
 print("negative")
else: 
 print("zero")

enter a number-4
negative

In [72]:
a=int(input("enter the year"))
if a%400==0:
  print("leap year")
else:
 print("not  a leap year")

enter the year2000
leap year