# python

# insert site address
[site](https://www.travisscott.com/)

# insert image
![text](https://images-na.ssl-images-amazon.com/images/I/91eRlPIUEZL._SX466_.jpg)

# PYTHON BASICS

# creating orderes list
    1 python is beginers language
    2 it is easier to learn

# creating unordered list 
- this is unordered list
- it does not form a sequential order

# styles 
*italics*
**bold**
~~strike~~

In [2]:
# to print a word
print ("kiran")

kiran

In [3]:
# to add 2 numbers by assigining variables
a=10
b=10
a+b

20

# rules for variables
 - name should begin with character
 - no special characters allowed except underscore(_)

In [6]:
name ="zafeer"
cash ="9999999999999999999999999"
value ="priceless"
print("name is" ,name ,"worth",cash ,"value is ", value)

name is zafeer worth 9999999999999999999999999 value is  priceless

In [ ]:
name = input("tell me your name")
age = int(input("whats your age"))
print("name:",name ,"age", age)

In [6]:
x = int(input("enter a number"))
y = int(input("enrter another number"))
print("sum ",x+y , "\n diff",x-y, " \n multiply", x*y, " \n div", x/y, "\n percentile",x%y)

enter a number4
enrter another number2
sum  6
 diff 2
 multiply 8
 div 2.0 percentile 0

# fundamentals
 - int
 - float
 - complex
 - boolean
 - string

In [9]:
x=10
y= 5.555
z=5+2j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [10]:
c=complex(2,5)
print(c)

(2+5j)

In [12]:
c1 = 3+5j
c2 = 5+2j
print (c1+c2)
print (c1-c2)
print (c1*c2)

(8+7j)
(-2+3j)
(5+31j)

In [13]:
# bolean
x=87
y=32
x<y

False

In [15]:
#string
s1 = "abc"
s2 = " def "
print (type(s1))
print (type(s2))

<class 'str'>
<class 'str'>

In [17]:
i=100
print(type(i))
s1 = str(i)
print (type(s1))
f1 =float(i)
print (type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [21]:
a=1234
print(len(str(a)))

4

In [22]:
a1=100
a=b=c=12
d,e,f=12,34,654
print(a1)
print(a,b,c)
print(d,e,f)

100
12 12 12
12 34 654

# precedence ofoperators
paranthesis>power>multiplication>addition

In [25]:
x=1+2**3/4*5
print (x)

11.0

# operators
## arithematic operators
 - +
 - -
 - *
 - /
 - %
 - **
 - //

# relational  operators
 - ==
 - !=
 - <
 - (>)
 - <=
 - (>=)

# locigal operator
 - and
 - or
 - not

# membership algorithm
 - in
 - not in

In [26]:
str1 = "abc"
print('a' in str1)
print('a' not in str1)

True
False

# control flow statement
 - conditional statement
 - loop statement
 -- if-else statement
  -syntax
  #### if condition:
  > statements<br>
  #### else :
  >statements

In [32]:
#check if given number is even or not
a=int(input("enter a number"))
if a%2==0:
 print ("even")
else:
 print ("odd")

enter a number20
even

In [37]:
#check if given number is a multiple of 3 and 5
a=int(input("enter a number"))
if a%3==0 and a%5==0:
 print ("yes")
else:
 print ("no")

enter a number15
yes